.navbar-title,
.navbar-link {
 position: relative;
 color: #ffffff !important;
 transition: 0.3s ease all;
 text-decoration: none;
}

.navbar-title::after,
.navbar-link::after {
 content: '';
 position: absolute;
 width: 100%;
 transform: scaleX(0);
 height: 2px;
 bottom: 0;
 left: 0;
 margin-bottom: -0.3rem !important;
 background-color: #ffffff;
 transform-origin: bottom center;
 transition: transform 0.4s ease-out;
}

.navbar-title:hover::after,
.navbar-link:hover::after {
 transform: scaleX(1);
 transform-origin: bottom center;
}

.navbar-title:hover,
.navbar-link:hover {
 color: #cccccc !important;
 transform: scale(1.1);
}

.navbar-toggle {
 display: block;
 background: none;
 border: none;
 padding: 0;
 cursor: pointer;
}

.navbar-toggle-icon {
 display: block;
 width: 24px;
 height: 2px;
 background-color: #ffffff;
 position: relative;
 transition: transform 0.3s ease;
}

.navbar-toggle-icon:before,
.navbar-toggle-icon:after {
 content: '';
 position: absolute;
 width: 24px;
 height: 2px;
 background-color: #ffffff;
 transition: transform 0.3s ease;
}

.navbar-toggle-icon:before {
 top: -6px;
}

.navbar-toggle-icon:after {
 bottom: -6px;
}

.navbar-toggle .navbar-toggle-icon.open {
 transform: rotate(90deg);
}

@media screen and (min-width: 992px) {
 nav {
  height: 80px !important;
 }
}

@media screen and (max-width: 992px) {
 ul > li::before {
  content: '>';
  display: inline-block;
  margin-right: 0.3rem;
  transition: transform 0.3s ease-in-out;
  color: #ffffff;
 }

 ul > li:hover::before {
  transform: rotate(90deg);
  color: #cccccc;
 }

 nav {
  height: 122px !important;
  padding-bottom: 10px !important;
 }
}
